@import "partials/fonts";
@import "partials/mixins";

body{
  font-family: 'NimbusSanNov-Reg', sans-serif;
  background-color: #F4F4F4;
  color: #000000;
}

.container{
  &.container-sm{
    max-width: 750px;
  }
}

.form{
  padding-top: 20px;
  padding-bottom: 20px;

  * {
    transition: all 300ms;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
  }

  .btn{
    &.btn-default{
      text-transform: uppercase;
      border: none;
      background-color: #282828;
      color: #fff;
      letter-spacing: 0.08em;

      &:hover{
        background-color: darken(#282828, 10%);
      }
    }

    &.btn-lg{
      font-size: 16px;
      padding: 26px 50px;
    }
  }

  .form-group{
    padding: 15px 20px;
    background-color: #fff;
    margin-bottom: 20px;
    border-bottom: 1px solid #B4B4B4;
    position: relative;

    .caret{
      position: absolute; top:0; right: 20px; bottom: 0;
      margin: auto;
      border-top: 7px solid #000;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
    }


    label{
      font-size: 16px;
      font-weight: 300;
      text-transform: uppercase;
      color: #000000;
      letter-spacing: 0.08em;

      .btn{
        line-height: 18px;
        padding: 0;
        color: inherit;
        text-transform: uppercase;
        font-weight: inherit;
        letter-spacing: inherit;
        text-decoration: none;
      }
    }

    .form-control, .tags{
      font-size: 26px;
      line-height: 30px;
      border-radius: 0;
      border: none;
      box-shadow: none;
      padding: 0;
      background: none;
      color: #000000;
      @include placeholder {
        color: #C8C8C8;
      }

      input{
        font-size: 26px;
        line-height: 30px;
        height: 30px;
        min-width: 250px;
        margin: 0;
        padding: 0;
        font-weight: 300;
        @include placeholder {
          color: #C8C8C8;
        }
      }
    }

    &.collapsed{
      display: block;
      border-bottom: none;
      border-radius: 4px;
      overflow: hidden;
      float: left;
      @include transition(all 400ms);


      .placeholder{
        font-size: 16px;
        text-transform: uppercase;
        transition: all 300ms;
        -moz-transition: all 300ms;
        -webkit-transition: all 300ms;
      }

      .remove-btn{
        @include transition(all 300ms);
        @include translate(-40px, 0);
        opacity: 0;
      }

      .form-control{
        width: 0;
        height: 0;
        @include transition(all 300ms);
      }

      label{
        margin-top: -25px;
        display: block;
        transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
        transition: all 300ms;
        -moz-transition: all 300ms;
        -webkit-transition: all 300ms;
        margin-bottom: 0;
      }

      &.in-add{

        .placeholder{
          @include translate(-100px, 0);
          opacity: 0;
        }

        label{
          @include translate(0, 0);
          @include transition-delay(0);
        }

        .form-control{
          width: 100%;
        }

      }
      &.in-remove{
        .remove-btn{
          @include translate(-40px, 0);
          @include transition-delay(0);
        }

        label, .placeholder{
          @include transition-delay(300ms);
        }
      }

      &.in{
        width: 100%;

        .remove-btn{
          @include translate(0, 0);
          opacity: 1;
          @include transition-delay(300ms);
        }

        label{
          @include translate(0, 0);
        }

        .placeholder{
          @include translate(-100px, 0);
          opacity: 0;
        }

        .form-control{
          width: 100%;
          height: 40px;
        }
      }


      //&.in{
      //  display: block;
      //  border-radius: 0;
      //  border-bottom: 1px solid #B4B4B4;
      //
      //  .placeholder{
      //    transform: translateX(-300px);
      //    -moz-transform: translateX(-300px);
      //    -webkit-transform: translateX(-300px);
      //  }
      //
      //  .remove-btn{
      //    @include translate(0, 0);
      //    opacity: 1;
      //  }
      //
      //
      //  .form-control{
      //    width: 100%;
      //    height: 40px;
      //  }
      //
      //  label{
      //    transform: translateX(0);
      //    -moz-transform: translateX(0);
      //    -webkit-transform: translateX(0);
      //  }
      //}
    }

    .ui-select-container{
      outline: none;
    }

    .ui-select-match-text{
      text-transform: none;
      letter-spacing: normal;
    }

    .ui-select-match{
      outline: none;
      background-color: transparent;
      box-shadow: none;
    }

    .ui-select-toggle{
      &:hover{
        background-color: transparent;
      }
    }

    .ui-select-placeholder{
      text-transform: none;
      letter-spacing: normal;
      color: #C8C8C8;
    }

    .ui-select-choices{
      border-radius: 0;
      padding: 0;
      width: auto;
      left: 0;
      right: 0;
      margin: 0 -20px;

      .ui-select-highlight{
        background-color: #000;
        color: #fff;
      }

      .ui-select-choices-group{

      }

      .ui-select-choices-row{
        font-size: 15px;

        &:empty{
          display: none;
        }

        &:hover{
          background-color: #b2e9e2;
          a{
            background-color: transparent;
            color: inherit;
          }
        }

        &.active{
          background-color: #b2e9e2;
          a{
            color: inherit;
            background: transparent;
          }

        }
      }
    }

    .ui-select-search{
      max-width: 200px !important;
    }

    .ui-select-match-item, .tag-item{
      margin-right: 10px;
      margin-bottom: 0;
      line-height: 36px;
      height: 30px;
      display: inline-block;
      background: #ccc;
      padding: 0 25px 0 15px;
      font-size: 20px;
      text-transform: none;
      letter-spacing: normal;
      color: #000;
      border: none;
      position: relative;
      font-weight: 300;

      &:hover{
        background: darken(#ccc, 10%);
      }

      .ui-select-match-close, .remove-button{
        font-size: 0.7em;
        line-height: 30px;
        margin-right: -15px;
        display: inline-block;
      }
      .remove-button{
        position: absolute; top: 0; right: 10px; bottom: 0;
        margin: auto;
        text-decoration: none;
        line-height: 30px;
      }

    }

    .create-new{
      color: #00b6a0;
    }

    .checkbox{

      input[type="checkbox"]{
        display: none;
      }

      label{
        font-size: 16px;
        padding-left: 40px;
        position: relative;
        line-height: 26px;
        cursor: pointer;

        &:before{
          content: "";
          width: 26px;
          height: 26px;
          display: block;
          border: 1px solid #646464;
          border-radius: 3px;
          position: absolute; top: 0; left: 0;
        }

        &:after{
          content: "\e013";
          width: 26px;
          height: 26px;
          display: block;
          font-family: 'Glyphicons Halflings', sans-serif;
          border-radius: 3px;
          position: absolute; top: 0; left: 0;
          font-size: 14px;
          text-align: center;
          transition: all 200ms;
          -moz-transition: all 200ms;
          -webkit-transition: all 200ms;
          transform: scale(0, 0);
          -moz-transform: scale(0, 0);
          -webkit-transform: scale(0, 0);
        }
      }

      input[type="checkbox"]:checked + label{
        &:after{
          transform: scale(1, 1);
          -moz-transform: scale(1, 1);
          -webkit-transform: scale(1, 1);
        }
      }
    }
  }

  .btn-group{
    margin-top: 20px;
  }

  .form-group{

    &.ng-enter, &.ng-leave{
      @include transition(all 300ms ease-in);
    }

    &.ng-enter{
      @include transition-delay(400ms);
    }

    &.ng-enter, &.ng-leave.ng-leave-active{
      opacity: 0;
    }

    &.ng-leave, &.ng-enter.ng-enter-active{
      opacity: 1;
    }

  }


}

.modal{
  .modal-content{
    overflow: hidden;
    .modal-header{
      padding: 15px;
      border-bottom: none;

      h3{
        margin: 0;
        font-weight: 700;
        letter-spacing: 0.07em;
      }
    }

    .modal-body{
      padding: 0;

      .form-group{
        margin-bottom: 0;
      }
    }

    .modal-footer{
      border-top: none;
      padding: 0;
      overflow: hidden;

      .btn{
        font-size: 18px;
        text-transform: uppercase;
        color: #000;
        text-decoration: none;
        padding: 20px;
        transition: all 200ms;
        -moz-transition: all 200ms;
        -webkit-transition: all 200ms;
        letter-spacing: 0.08em;

        &:hover{
          background-color: #282828;
          color: #fff;
        }
      }
    }

    .form{
      padding: 0;
    }
  }
}